.products-container#blur {
  filter: blur(5px);
  user-select: none;
  transition: all 0.25s ease;
  z-index: -10;
}
.products-container#blur .order-button {
  display: none;
}
.products-container h1 {
  text-align: center;
  font-size: 2rem;
  color: #480505;
  margin-top: 0.5em;
}
.closeBtn {
  position: absolute;
  top: 15px;
  right: 1.5em;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}

.order-slip-container {
  background-color: #480505;
  position: absolute;
  left: 28.2%;
  top: 20%;
  display: block;
  width: 40%;
  margin: 0.5em auto;
  padding: 1.5em;
  border-radius: 10px;
  z-index: 1000;
  color: white;
}
.order-slip-container h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.order-slip-container p.instruction {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 0.8em;
}
.order-slip {
  display: flex;
  border-radius: 10px;
  padding-left: 1em;
  margin-bottom: 0.5em;
}
.itemImage {
  position: relative;
  width: 45%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.4em;
  border-radius: 10px;
}
.itemImage img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-top: -40px;
}
.price {
  position: absolute;
  bottom: 90px;
  font-weight: 700;
  font-size: 1.2rem;
}
.order-slip form {
  flex: 1;
  padding: 0 2em 0 1em;
}

form label {
  display: block;
  width: calc(100% - 1em);
  margin-bottom: 5px;
}

form input {
  background: #e7e7e7;
  display: block;
  width: calc(100% - 1em);
  border: 0;
  outline: none;
  border-radius: 4px;
  padding: 0.4em;
  margin-bottom: 1.2em;
}

a {
  text-decoration: none;
}

button.paymentBtn {
  background-color: #0ab007;
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
  color: #e7e7e7;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
  border-radius: 2px;
  outline: none;
  margin-top: 1.5em;
  cursor: pointer;
  transition: background 0.25s ease;
}

.paymentBtn:hover {
  background: #999;
}

.countButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.countButton button {
  width: 50%;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0.5em 0;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
.countButton button:first-child {
  border-radius: 4px 0 0 4px;
  font-weight: bold;
}

.countButton button:nth-child(3) {
  font-weight: bold;
  border-radius: 0 4px 4px 0;
}

.countButton button:nth-child(2) {
  border-radius: 0;
}

.countButton button:hover {
  background: #e7e7e7;
  color: #480505;
}

/* Tablet styles */
@media (max-width: 768px) {
  .order-slip-container {
    width: 60%;
    left: 20%;
    padding: 1em;
  }
  .order-slip-container h3 {
    font-size: 1.2rem;
  }
  .order-slip {
    flex-direction: column;
  }
  .itemImage {
    background-color: red;
    width: 100%;
    height: auto;
    margin-top: 2.5em;
    margin-bottom: 1em;
  }
  .itemImage img {
    height: 100%;
  }
  .price {
    position: absolute;
    height: fit-content;
    padding: 0.1em 0.5em;
    font-size: 1rem;
    top: -30px;
    left: 0.7em;
    border-radius: 10px;
    background-color: #480505;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .order-slip-container {
    width: 83%;
    left: 5%;
    padding: 0.8em;
    top: 10%;
  }
  .order-slip-container h3 {
    font-size: 1rem;
  }
  .order-slip {
    flex-direction: column;
  }
  .itemImage {
    width: 100%;
    margin-bottom: 0.8em;
  }
  .itemImage img {
    height: 100%;
  }
  .price {
    font-size: 1rem;
    bottom: 40px;
  }
  form input {
    padding: 5px;
  }
  button.paymentBtn {
    padding: 0.5em;
    font-size: 0.9rem;
  }
}
