/* Base styles */
.navbar {
  background: #e7e7e7;
  width: 100%;
  display: flex;
}

.responsive-navbar {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #480505;
  z-index: 3;
}

.responsive-navbar ul li{
  list-style-type: none;
}

.responsive-navbar a.navlinks{
  text-align: center;
  color: #e7e7e7;
  padding: 1em;
}

.responsive-navbar a.navlinks:hover{
  border-bottom: 1px solid #e7e7e726;
}
.navbar ul {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5em 0;
  z-index: 1;
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 50%;
  font-weight: 400;
  position: relative;
}

.users ul li {
  list-style-type: none;
  width: 25%;
}

.navbar ul li::after {
  position: absolute;
  content: '';
  bottom: 12px;
  height: 1.7px;
  background: #480505;
}

.navbar ul li:nth-child(1)::after {
  width: 47px;
  transition: width 0.5s ease;
}

.navbar ul li:nth-child(2)::after {
  width: 70px;
  transition: width 0.5s ease;
}

ul li:nth-child(5)::after,
ul li:nth-child(3)::after {
  width: 55px;
  transition: width 0.5s ease;
}

ul li:nth-child(4)::after {
  width: 44px;
  transition: width 0.5s ease;
}

ul li:nth-child(5):hover:after,
ul li:nth-child(4):hover:after,
ul li:nth-child(3):hover:after,
ul li:nth-child(2):hover:after,
ul li:nth-child(1):hover:after {
  width: 0;
}

.navlinks {
  color: #1b0303;
  display: block;
  padding: 1em 0;
}

div.logo-container > svg{
  position: absolute;
  top: 2rem;
  right: 1.2em;
  color: #480505;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.logo-container {
  position: relative;
  background: #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  width: 80px;
  max-width: 100%;
  margin-top: 1.5em;
  border-radius: 5px;
  height: auto;
}

/* Tablet breakpoint */
@media (max-width: 768px) {
  .navbar{
    display: none;
  }
  div.logo-container > svg{       
    display: block; 
  }

  .navbar ul li {
    width: 40%;
  }

  .navbar ul li::after {
    bottom: 8px;
  }

  .navlinks {
    padding: 0.8em 0;
  }

  .logo-container img {
    margin-left: -13px;
    max-width: 100%;
  }
  .logo-container{
    justify-content: flex-start;
    padding-left: 3em;
  }
}

/* Mobile breakpoint */
@media (max-width: 480px) {
  .logo-container{
    margin-bottom: 2em;
  }
  .navbar {
    flex-direction: column;
  }
  
  .navbar ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
nav.responsive-navbar{
  margin-top: -2.2em;
}
  .navbar ul li {
    width: 100%;
    margin-bottom: 10px;
  }

  .navbar ul li::after {
    bottom: 6px;
    left: 10px;
    width: 80%;
  }

  .navlinks {
    padding: 0.5em 0;
    font-size: 0.9rem;
  }
}
