/* Base styles */
.home-container {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100dvh - 150px);
  background-color: #e7e7e700;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.gallery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 80%;
  margin: -8em 0 2em;
}
.gallery  img {
  position: absolute;
  width: 100%;
  height: 80%;
  object-fit: center;
  border-radius: 5px;
}
.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  user-select: none;
  text-align: center;
  z-index: 1;
  margin-top: -6em;
}
.home-button button{
  text-align: center;
  padding: 1em 2em;
  width: 100%;
  font-size: 1.2rem;
  height: 50px;
  outline: none;
  border: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.5em;
}
.homepage-content button:hover {
  color: #e7e7e7;
  outline: 1px solid #4805054d;
  background: #333;
}

.home-container h1 {
  margin-bottom: 10px;
  color: #480505;
}
.home-container p {
  margin-bottom: 25px;
  color: #480505;
}
.home-button a {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 5px;
  text-decoration: none;
}

/* Tablet styles */
@media (max-width: 768px) {
  .homepage-content {
    width: 70%; 
    height: auto; 
    margin-top: 4em;
  }
  .gallery{
    display: none;
  }
  .home-container h1 {
    font-size: 3rem;
  }
  
  .home-container p {
    font-size: 1.5rem;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .homepage-content {
    width: 85%; 
  }
  
  .home-container h1 {
    font-size: 2.5rem; 
  }
  
  .home-container p {
    font-size: 1.2rem; 
  }
}
