.home-container {
    display: flex;
    width: 100%;
    height: 100vh;
    color: #e7e7e7;
  }
  
  .home-container  .barb h1 {
    font-size: 15vh;
    margin-bottom: -60px;
    text-align: right;
  }
  .shoe-store {
    position: relative;
    display: flex;
    width: 80%;
    height: 50%;
  }
  .home-container  .shoe-store .s {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-weight: bolder;
    font-size: 45vh;
    padding: 0 33%;
  }
  
  .shoe-store .others {
    padding: 2.5em 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .complete {
    padding: 0 50%;
  }
  
  .complete h2 {
    font-size: 5rem;
  }
  