.login-container {
  background-color: #e7e7e7;
  display: flex;
  width: 100%;
  height: 100vh;
  color: #e7e7e7;
}

.sign-post {
  flex: 1;
  background-color: #480505;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.barb h1 {
  font-size: 20vh;
  margin-bottom: -70px;
}
.shoe-store {
  position: relative;
  display: flex;
  width: 80%;
  height: 50%;
}
.shoe-store .s {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-weight: bolder;
  font-size: 45vh;
  padding: 0 17%;
}

.shoe-store .others {
  padding: 2.5em 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.complete {
  padding: 0 50%;
}

.complete h2 {
  font-size: 5rem;
}

.register,
.login-credentials {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .register {
  display: none;
} */

/* .login-credentials{
    display: none;
} */

form#hide{
  display: none;
}

.register h2,
.login-credentials h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: #480505;
}

.input-fields {
  width: 50%;
  height: auto;
}

.input-fields input {
  background-color: transparent;
  color: #480505;
  padding: 0.5em 0;
  margin-bottom: 20px;
  border: 1px solid #480505;
  border-radius: 4px;
  outline: none;
  padding-left: 0.5em;
}

.input-fields input::placeholder {
  color: #777;
  font-weight: 500;
}

.login-link{
  color: #333;
  margin-top: 5px;
  cursor: pointer;
}

.input-fields .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #480505;
  color: #fff;
  width: 50%;
  padding: 0.5em;
  font-weight: bold;
  border: 1px solid #333;
  outline: none;
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: #e7e7e7;
  color: #333;
}
button:nth-child(1) {
  border-radius: 4px 0 0 4px;
}
button:nth-child(2) {
  border-radius: 0 4px 4px 0;
}
.error {
  font-weight: bold;
}
.submitBtn {
  width: 15%;
  border-radius: 4px;
}
