.usersList h2{
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  margin-bottom: 1.5em;
  user-select: none;
}

.notifications {
  background-color: #ffcccc;
  border: 1px solid #ff9999;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
}

.notifications h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #b30000; 
}

.notifications ul {
  list-style-type: none;
  padding: 0;
}

.notifications li {
  margin: 5px 0;
  color: #800000;
  font-size: 1rem; 
}
table tr{
  text-transform: capitalize;
}

.notifications:hover {
  background-color: #ffb3b3; 
}
table span.tag {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .notifications {
    padding: 8px;
    margin: 15px 0;
  }

  .notifications h3 {
    font-size: 1.1rem;
  }

  .notifications li {
    font-size: 0.95rem;
  }  
}

@media (max-width: 480px){
  table span.tag {
    display: block;
    margin-right: 5px;
    font-weight: 600;
    color: #480505;
  }
  table span.hideTag {
    display: none;
  }
  table tr {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 1em;
    justify-content: center;
  }
  table tr img:nth-child(1) {
    position: absolute;
    left: -16em;
    top: 2.5em;
  }
  table tr td:nth-child(2)  p.brand-name{
    font-weight: 700;
    font-size: 1.3rem;
    color: #480505;
  }
  table > tbody > tr > td:nth-child(6) {
    padding: 0;
    margin-right: 6px;
  }

  table tr p {
    display: flex;
    align-items: end;
    justify-content: end;
    color: #1b0303;
  }
} 
