.products-container {
  position: relative;
}

ul.productlists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em 0 3em;
  list-style-type: none;
  margin: 0;
}

ul.productlists li {
  width: 20%;
  margin: 20px;
  border-radius: 10px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

ul.productlists li:hover {
  transform: scale(1.05);
  box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.product-card {
  background-color: #e7e7e7;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.card-image {
  background-color: white;
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details {
  padding: 1em 1.5em;
  text-transform: capitalize;
}

.card-details h2 {
  margin: 0 0 0.3em;
  font-size: 1.4rem;
}

.card-details p {
  font-size: 1rem;
  display: flex;
}

.card-details span {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

.card-details button {
  background-color: #480505;
  color: #e7e7e7;
  text-transform: lowercase;
  border-radius: 4px;
  display: block;
  margin: 1em auto 0.5em;
  width: 100%;
  padding: 0.5em;
  font-size: 1.1rem;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.card-details button:hover {
  background: #333;
  color: white;
}

.refresh-productlist {
  position: absolute;
  top: 18px;
  right: 35px;
  color: #e7e7e7;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
  ul.productlists li {
    width: 45%; /* Adjust for medium screens */
  }
}

@media (max-width: 768px) {
  ul.productlists li {
    width: 80%; /* Adjust for smaller screens */
  }

  .refresh-productlist {
    top: 10px;
    right: 15px;
  }
}
